<h4 class="blue-grey-text text-lighten-5">Property Template</h4>
<p class="left-align light"></p>



<div class="row">
    <div class="col m12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Passage d'une propriété du Template au Template (html)</span>
                <input type="date" #theDate> <!--attention que thedate prends le type htmlinputelement-->
                <button class="waves-effect waves-light btn" (click)="saveDate(theDate.value)">Transférer la date sélectionnée dans le TS</button>
            </div>
        </div>
    </div>

    <div class="col m12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Passage d'une propriété qui vaux du DOM Html par exemple</span>
                <input type="text" #dom> <!--attention que dom prends le type htmlinputelement-->
                <button class="waves-effect waves-light btn" (click)="viewDom(dom)">Transférer HTML Element au TS</button>
            </div>
        </div>
    </div>
</div>