<ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="onewaybinding">One way binding</a></li>
    <li><a routerLink="twowaybinding">Two way binding</a></li>
    <li><a routerLink="eventbinding">Event binding</a></li>
    <li><a routerLink="propertymodel">Propriété de template</a></li>
</ul>


<nav class="orange accent-4">
    <div class="nav-wrapper">
        <a class="brand-logo">Technofutur Web-Data</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" data-target="dropdown1">Liste des Démos<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a routerLink="/">Home</a></li>
        </ul>
    </div>
</nav>