<ul id="dropdown1" class="dropdown-content">
    <li><a>one</a></li>
    <li><a>two</a></li>
    <li class="divider"></li>
    <li><a>three</a></li>
</ul>


<nav class="orange accent-4">
    <div class="nav-wrapper">
        <a class="brand-logo grey-text text-darken-3">Technofutur Web-Data</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" data-target="dropdown1">Liste des Démos<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/users">Users</a></li>
            <li><a routerLink="/films">Films</a></li>
        </ul>
    </div>
</nav>