<h4 class="blue-grey-text text-lighten-5">TechnoMazon Shop</h4>
<p class="left-align light"></p>



<div class="row">
    <div class="col m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Liste des produits</span>
                <ul class="collection black-text">
                    <li *ngFor="let prod of listProductShop" class="collection-item">
                        {{prod.brand }} : {{ prod.name }} | Prix {{ prod.price | currency : "EUR" : "symbol" }}
                        <button (click)="addProdToCard(prod.id)" class="btn-floating btn waves-effect waves-light red">
                            <i class="material-icons">add</i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Mon Panier</span>
                <ul class="collection black-text">
                    <li *ngFor="let prod of myCard" class="collection-item">
                        {{prod.brand }} : {{ prod.name }} | 
                        Quantity : {{ prod.qty }} | 
                        Price UHTVA : {{ prod.price | currency : "EUR" : "symbol" }}
                    </li>

                    <li class="collection-item">Total HTVA : {{totalCard_HTVA | currency : "EUR" : "symbol" }}</li>
                    <li class="collection-item">Total TVAC : {{totalCard_TVAC | currency : "EUR" : "symbol" }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>